:root {
    --color-white: #ffffff;
    --color-grey: #b7b8b8;
    --color-border: #000000;
    --color-primary: #0066ff;

    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
}
.img-contain {
    display: block;
    object-fit: contain;
    object-position: center;
}
.img-cover {
    display: block;
    object-fit: cover;
    object-position: center;
}
.bg-contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}